<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include "inc/headTag.html" %}
    <body class="clinic_version">
        {% include "inc/loader.html" %}
        {% include "inc/header.html" %}
        <div id="home" class="first-section">
            <table>
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>ID Number</td>

                    <td>Test Name</td>
                    <td>Due Date</td>
                    <td>Alert</td>
                </tr>
            {% for record in tracking %}
                <tr>
                    <td>{{ record.patient.name }}</td>
                    <td>{{ record.patient.surname }}</td>
                    <td>{{ record.patient.id_num }}</td>
                    <td>{{ record.test.name }}</td>
                    <td>{{ record.due_date }}</td>
                    <td>{{ record.alert_code }}</td>
                </tr>
            {% endfor %}
            </table>


            <div id="root"></div>
        </div>

        <script>
            var doctorName = '{{ doctors.0.name }}';
            var content = JSON.parse('{{ all | escapejs }}');
        </script>
        
        <script src="{% static 'js/index.js' %}" type='text/babel'></script>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <!-- Smooth Scrolling -->
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
        <!-- wowJS animation when scrolling, goes together with animated.css file -->
        <script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js"></script>
        <!-- PrettyPhoto v3.1.6, Includes CSS + images -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/js/jquery.prettyPhoto.min.js"></script>
        <!-- Style js files -->
        <script src="{% static 'js/style.js' %}"></script>
    </body>
</html>
